@{
    Layout = "_Layout";
}

@model IronParadise.Models.AverageTimePerSessionReport

<h2>Average Time Per Session</h2>
<p>Average Duration: @Model.AverageDuration minutes</p>
<a href="@Url.Action("Index", "Reports")">
    <button type="submit" style="background-color: #59b42d; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none; margin-top: 5px;">Back to Reports</button>
</a>
