@{
    Layout = "_Layout";
}

<div id="wrap-reports-index">

<h2 id="reports-header">Reports Dashboard</h2>
<ul>
    <li><a href="@Url.Action("MostTypeOfUsers", "Reports")">Most Type of Users Report</a></li>
    <li><a href="@Url.Action("AverageTimePerSession", "Reports")">Average Time Per Session Report</a></li>
    <li><a href="@Url.Action("MostCommonGoal", "Reports")">Most Common Goal Report</a></li>
    <li><a href="@Url.Action("NumberOfUsers", "Reports")">Number of Users Report</a></li>
</ul>

</div>