@{
    Layout = "_Layout";
}

@model IronParadise.Models.NumberOfUsersReport

<h2>Number of Users</h2>
<p>User Count: @Model.UserCount</p>
<a href="@Url.Action("Index", "Reports")">
    <button type="submit" style="background-color: #59b42d; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none; margin-top: 5px;">Back to Reports</button>
</a>